/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}
body{
	/*width: 1500px; test*/
	width: 100%;
	margin: auto;
}
/* header */
.bloclogomenu
{
	height: 70px;
	text-align: center;
	padding-top: 20px;
}
/* Logo */
.logomenu
{
	margin: auto;
}
.logomenu img
{
	height: 31px;
}
/* flèche lien vers l'accueil */
.logomenu i
{	
	position: absolute;
	font-size: 20px;
	color: #000;
	margin-left: -120px;
	margin-top: -30px;
}
/* Main */
.imgmenu img
{
	width: 100%;
	height: 250px;
	object-fit: cover;
	opacity: 1;
	z-index: 0;
}
main .conteneurmenus1, .conteneurmenus3, .conteneurmenus4
{
		/* pas de hauteur bloquée juste un padding bottome pour avoir une marge minimum */
		padding-bottom: 50px;
		padding-left: 20px;
		padding-right: 20px;
	background-color: #f6f6f6;
	opacity: 0.99;
	margin-top: -120px;
	border-radius: 50px 50px 0px 0px;
	z-index: 10;
}
main .conteneurmenus2
{
		/* pas de hauteur bloquée juste un padding bottome pour avoir une marge minimum */
		padding-bottom: 50px;
		padding-left: 20px;
		padding-right: 20px;
	background-color: #f6f6f6;
	opacity: 0.99;
	margin-top: -120px;
	border-radius: 50px 50px 0px 0px;
	z-index: 10;
}
/* Titre du restaurant */   
.titremenu{
justify-content: center;
width: 100%;
display: flex;
flex-direction: row;
} 
.titremenu h1
{
	font-family: 'Shrikhand', cursive;
	padding-top: 20px;
	font-size:25px;
}
/* Coeur noir non activable */
.coeur3
{
	margin-top: 45px;
	font-size: 22px;
	margin-left: 10px;

}
/* Entréé, plats, dessert, sous-titre */      
.titreplats
{
    margin-left: 20px;
    border-bottom: 2px solid #99e2d0;
    width: 40px;
    margin-bottom: 3%;
}
.titreplats h2
{
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 400;
}
/*Proposition d'animations*/
.Entree_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.Entree_list, .Plats_list, .Desserts_list {
    animation: 3s ease 1 normal none running fadein;
    animation-fill-mode: backwards;
	animation-name: fadein;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
@keyframes fadein {
    0% {
        opacity:0;
    }
	20% {
        opacity:0.2;
    }

    100% {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    0% {
        opacity:0;
    }
	20% {
        opacity:0.2;
    }

    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
    0% {
        opacity:0;
    }
	20% {
        opacity:0.2;
    }

    100% {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    0% {
        opacity:0;
    }
	20% {
        opacity:0.2;
    }

    100% {
        opacity:1;
    }
}
/* Plat à selectionner */  
.conteneurblocemnu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.blocmenu
{
	animation: fadein;
	height: 75px;
	width: 100%;
	max-width: 350px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 5px 20px -2px #C2C2C2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 10%;
	z-index: 0;
	opacity: 1;
	margin: auto;
	margin-bottom: 20px;
}

/* Curseur en forme de doigt */
.blocmenu:hover{
	cursor: pointer;
}

/* bloc texte */
.blocmenu .legende h3
{
	padding-top: 5px;
	font-size: 95%;
	font-weight: 700;
	padding-left: 0px;
	margin-right: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	width: 85%;
}
.blocmenu .legende h4
{
	padding-top: 5px;
	font-size: 85%;
	font-weight: 300;
	margin-right: 0px;
/* Bloc texte plus court = ...*/
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	padding-left: 0px;
	width: 85%;
}
.blocmenu:hover .legende h3
{
	width: 70%;
}
.blocmenu:hover .legende h4
{
	width: 70%;
}
.legende:hover
{
	width: 90%;	
}
.prix
{
	z-index: 2;
	width: 33px;
	height: 25px;
	font-size: 80%;
	font-weight: 500;
	position: relative;
	margin-top: -35px;
	margin-left: 90%;
	padding-left: 0px;
}
/* bloc prix <- */
.blocmenu:hover .prix
{
	margin-right: -15%;
	position: relative;
	margin-left: 75%;
	margin-top: -35px;
}
.blocmenu .blocvert
{
	width: 0;
	height: 0;
	z-index: 1;
}
.blocvert
{
	z-index: 1;
	background: #fff;
	width:60%;
	height: 75px;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
	position: absolute;
	margin-left: 90%;
}
.blocvert:hover .prix{
	margin-right: -15%;
	position: relative;
	margin-left: 90%;
	margin-top: -14%;
}
.blocvert:hover{
	margin-right: 100px;
	margin-left:100%;
}
.blocvert .prix{
	margin-right: -15%;
	position: relative;
	margin-left: 90%;
	margin-top: -14%;
}
/* Animation bloc vert */
.blocmenu:hover .blocvert
{
	z-index: 1;
	background: #99e2d0;
	width: 30%;
	height: 75px;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
	position: relative;
	margin-top: -80px;
	margin-left:100%;
	animation-duration: 1s;
	animation-name: glissement-blocvert;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode:forwards;
}
@keyframes glissement-blocvert
{
	from
	{
		width: 70px;
		transform: translate(-65px);
		margin-right: -40%;
	}
	to
	{
		width: 0px;
	}
}
/* Bloc vert qui s'ouvre au hover sur le bloc blanc mais le picto check est en dehors du bloc*/

/* Animation check */
.blocmenu:hover .fa-circle-check
{
	font-size: 25px;
	transition:transform .7s ease-in-out;
	
	transform: translate(1px);
	animation: deformation-check;
	animation-duration: 1s;
}
.blocmenu::after .fa-circle-check{
	opacity: 0;
}
/* Animation deformation-check opacité et rotation */
@keyframes deformation-check {

	0% {opacity:0;
  
		transform: rotate(0deg);
  
	}
	50% {opacity:0;
  
		transform: rotate(180deg);

}
	100% {opacity:1;
  
		transform: rotate(360deg);
	}
  }
.fa-circle-check
{
	height: 25px;
	color: #fff;
	margin-top: 25px;
	font-size: 0px;
	/* Rond parasite */
	/*-webkit-transition:  .5s ease-in;
	transition:  .5s ease-in;*/
}
/* Bouton commander dégradé */

div .btncommander
{
	height: 50px;
	max-width: 150px;
	border-radius: 25px;
	background: #9356DC;
	z-index: 0;
	margin: auto;
	/* dégradé dans un bloc */
	background: linear-gradient(#FF79DA, #9356DC);
	/* ombre portée */
	box-shadow: 0px 3px 10px 0px #898989;
}

/* Bouton commander + clair */
div .btncommander:hover
{
	height: 50px;
	width: 250px;
	border-radius: 25px;
	background: #9356DC;
	z-index: 10;
	/* dégradé dans un bloc */
	background: linear-gradient(#fd97e0, #aa7be2);
	/* ombre portée */
	box-shadow: 0px 3px 10px 0px #696969;
}

.btncommander p
{
	width: 200px;
	max-width: 95%;
	font-weight: 400;
	color: #fff;
	padding-top: 15px;
	z-index: 10;
	font-size: 16px;
	text-align: center;
	margin: auto;
	margin-top: 60px;
}

.btncommander a
{
	text-decoration: none;
}
/* Footer = Idem accueil*/
/* Logo + Liste mentions légales + Mailto*/
