

/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}


/* header */
.bloclogomenu
{
	width: 900px;
	height: 155px;
}

.logomenu
{
	height: 120px;
	width: 500px;
	padding-top: 55px;
	margin-left: 310px;
}

.logomenu img
{
	width: 50%;
}

.logomenu i
{
	position: absolute;
	margin-top: -35px;
	font-size: 20px;
	color: #000;
	padding-left: 0px;
}

/* Main */
.imgmenu img
{
	width: 1024px;
	height: 250px;
	object-fit: cover;
	opacity: 1;
	z-index: 0;
}

main .conteneurmenus1,  .conteneurmenus3, .conteneurmenus4
{
	height: 1050px;
}

main  .conteneurmenus2
{
	height: 1050px;
}

.titremenu h1
{
	width: 900px;
	font-size: 35px;
	padding-left: 90px;
}

.coeur3
{
	margin-left: 700px;
	margin-top: -65px;
}

.titreplats h2
{
	font-size: 16px;
	padding-top: 20px;
	margin-left: 0px;
}

.titreplats
{
	border-bottom: 2px solid #99e2d0;
	width: 40px;
	margin-top: 0px;
	margin-left: 80px;
}