
/*Medium devices (mobile, 375px and up)*/
/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}

body
{
	width: 375px;
}

/* header */

.bloclogomenu
{
	width: 300px;
	height: 70px;
}
/* Logo */
.logomenu
{
	height: 70px;
	width: 300px;
	padding-top: 23px;
}
.logomenu img
{
	width: 55%;
	margin-left: 100px;
}
/* flèche lien vers l'accueil */
.logomenu i
{
	position: absolute;
	margin-top: -27px;
	font-size: 20px;
	color: #000;
	margin-left: 70px;
}

/* Main */

/* Image du restaurant */
.imgmenu img
{
	width: 375px;
	height: 250px;
	object-fit: cover;
	opacity: 1;
	z-index: 0;
}
main .conteneurmenus1, .conteneurmenus3, .conteneurmenus4
{
	height: 1300px;
	background-color: #f6f6f6;
	opacity: 0.99;
	margin-top: -120px;
	border-radius: 50px 50px 0px 0px;
	z-index: 10;
}
main .conteneurmenus2
{
	height: 1400px;
	background-color: #f6f6f6;
	opacity: 0.99;
	margin-top: -120px;
	border-radius: 50px 50px 0px 0px;
	z-index: 10;
}
/* Titre du restaurant */    
.titremenu h1
{
	font-size: 27px;
	font-family: 'Shrikhand', cursive;
	margin-left: 20px;
	padding-top: 25px;
}
/* Coeur noir non activable */
.coeur3
{
	font-size: 25px;
	position: absolute;
	color: #000;
	z-index: 2;
	margin-left: 320px;
	margin-top: -55px;
}
/* Entréé, plats, dessert, sous-titre */      
.titreplats
{
	margin-left: 20px;
	border-bottom: 2px solid #99e2d0;
	width: 40px;
	margin-top: 0px;
}
.titreplats h2
{
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 400;
	padding-top: 20px;
	padding-left: 0px;
}
/* Animation conteneur blocs menus qui glisse */
.conteneurblocemnu
{
	animation: animate-blocmenu 3s ease-in-out 1s 1 normal both;
	/*animation: name duration timing-function delay iteration-count direction fill-mode;
	*/
}
@keyframes animate-blocmenu
{
	from
	{
		margin-bottom: -8%;
		opacity: 0.5;
	}

	to
	{
		margin-top: 0%;
		opacity: 1;
	}

}
@-webkit-keyframes animate-blocmenu
{
	from
	{
		margin-bottom: -8%;
		opacity: 0.5;
	}

	to
	{
		margin-top: 0%;
		opacity: 1;
	}
}
@-moz-keyframes animate-blocmenu
{
	from
	{
		margin-bottom: -8%;
		opacity: 0.5;
	}
	to
	{
		margin-top: 0%;
		opacity: 1;
	}
}
/* Plat à selectionner */  
.blocmenu
{
	height: 75px;
	width: 350px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 5px 20px -2px #C2C2C2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-top: 20px;
	z-index: 0;
	opacity: 1;
}
/* bloc texte ...*/
.blocmenu .legende h3
{
	padding-top: 5px;
	font-size: 18px;
	font-weight: 700;
	padding-left: 0px;
	margin-right: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	width: 280px;
}
/* bloc texte ...*/
.blocmenu .legende h4
{
	padding-top: 5px;
	font-size: 15px;
	font-weight: 300;
	margin-right: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	padding-left: 0px;
	width: 280px;
}
.legende:hover
{
	width: 300px;
	height: 80px;
}
.blocmenu:hover .legende h3
{
	width: 230px;
}
.blocmenu:hover .legende h4
{
	width: 230px;
}
.prix
{
	z-index: 2;
	width: 50px;
	height: 25px;
	font-size: 15px;
	font-weight: 500;
	position: relative;
	margin-top: -40px;
	margin-left: 300px;
	padding-left: 0px;
}
/* bloc prix <- */
.blocmenu:hover .prix
{
	margin-right: -50px;
	position: relative;
	margin-left: 250px;
}
/* Animation bloc vert et check*/
.blocmenu .blocvert
{
	width: 0;
	height: 0;
}
.blocvert
{
	z-index: 1;
	background: #fff;
	width: 60px;
	height: 75px;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
	position: absolute;
	margin-left: 295px;
}
.blocvert .fa-circle-check
{
	width: 25px;
	height: 25px;
	color: #fff;
	margin-top: 25px;
	font-size: 0px;
	-webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
	/*animation: name duration timing-function delay iteration-count direction fill-mode;
	*/
}
.blocvert:hover .fa-circle-check
{
	font-size: 25px;
	transform: rotate(1turn);
	transition:transform .7s ease-in-out;
}
.blocmenu:hover .blocvert
{
	z-index: 1;
	background: #99e2d0;
	width: 60px;
	height: 75px;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
	position: relative;
	margin-top: -80px;
	margin-left: 354px;
	animation-duration: 1s;
	animation-name: glissement-blocvert;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode:forwards;
	/*animation: name duration timing-function delay iteration-count direction fill-mode;
	*/
}
@keyframes glissement-blocvert
{
	from
	{
		width: 70px;
		transform: translate(-65px);
		margin-right: -70px;
	}
	to
	{
		width: 0px;
	}
}
/* Bouton commander + tunnel de vente */

div .btncommander
{
	height: 50px;
	width: 220px;
	border-radius: 25px;
	background: #9356DC;
	z-index: 0;
	margin: auto;
	/* dégradé dans un bloc */
	background: linear-gradient(#FF79DA, #9356DC);
	/* ombre portée */
	box-shadow: 0px 3px 10px 0px #898989;
}

div .btncommander:hover
{
	height: 50px;
	width: 220px;
	border-radius: 25px;
	background: #9356DC;
	z-index: 10;
	/* dégradé dans un bloc */
	background: linear-gradient(#fd97e0, #aa7be2);
	/* ombre portée */
	box-shadow: 0px 3px 10px 0px #696969;
}

.btncommander p
{
	width: 200px;
	font-weight: 400;
	color: #fff;
	padding-top: 15px;
	z-index: 10;
	font-size: 16px;
	text-align: center;
	margin: auto;
	margin-top: 60px;
}

.btncommander a
{
	text-decoration: none;
}
/* Footer = Idem accueil*/
/* Logo + Liste mentions légales + Mailto*/
