

/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}
/* header */
.bloclogomenu
{
height: 90px;
text-align: center;
padding-top: 25px;
}
.logomenu img
{
	height: 40px;
}
.logomenu i
{
	position: absolute;
	font-size: 25px;
	color: #000;
	margin-left: -150px;
	margin-top: -35px;
}
/* Main */
.imgmenu img
{
	height: 250px;
	object-fit: cover;
	opacity: 1;
	z-index: 0;
}
main .conteneurmenus1,  .conteneurmenus3, .conteneurmenus4
{
	/* pas de hauteur bloquée juste un padding bottome pour avoir une marge minimum */
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

main  .conteneurmenus2
{
	/* pas de hauteur bloquée juste un padding bottome pour avoir une marge minimum */
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
/* Titre du restaurant */   
.titremenu{
	justify-content: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	} 
.titremenu h1
{
	padding-top: 40px;
	font-size: 40px;
}

.coeur3
{
	margin-top: 80px;
	font-size: 30px;

}
.titreplats
{
    margin-left: 20px;
    border-bottom: 2px solid #99e2d0;
    width: 40px;
    margin-bottom: 3%;
}

.titreplats h2
{
	font-size: 18px;
	padding-top: 20px;
}


.conteneurblocemnu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.blocmenu
{
	height: 75px;
	width: 355px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 5px 20px -2px #C2C2C2;
	margin-left: 10px;
	margin-top: 20px;
	z-index: 0;
	opacity: 1;
	margin-right: 10px;
}