
/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}


/* loader */
.loader
{
	width: 100%;
}

/* header */

/* header */

.bloclogoindex img
{
	height: 80%;
}

/* conteneur recherche lieu location*/
/* => Revoir les dimensions du texte et le centrage quand on tape*/
.contenantrecherche
{
    /* margin: auto; */
    /* height: 45px; */
    background: #eaeaea;
    /* box-shadow: inset 0px 3px 10px 0px #898989; */
    /* border-radius: 25px; */
    /* width: 280px; */
    /* margin-bottom: 50px; */
    /* margin-left: 360px; */
    /* margin-top: -40px;*/
	
	}

/* conteneur nav explorer */
.blocnav h1
{

	font-size: 24px;
	font-weight: 700;

}
div .btnexplorer
{
	width: 45%;
}

.btnexplorer p
{

	font-weight: 400;
	color: #fff;
	padding-top: 15px;
	z-index: 10;
	font-size: 16px;
}

/* conteneur filtres */
.blocfiltre
{
	justify-content: center;
}
.conteneurfiltres h2
{
	margin-left: 80px;
}
.oblongue{
	width: 50%;
}
.oblongue i {
	padding-left: 10%;
}
/* Main */
.conteneurrestos
{
	height: 770px;
}

.conteneurrestos h2
{
	margin-left: 20px;
	margin-top: 20px;
}

#restaurants
{
	padding-top: 60px;
}
.conteneurblocresto{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.conteneurrestos h2
{
	margin-left: 60px;
	padding-top: 80px;
}

.blocresto
{
	height: 255px;
	width: 335px;
	margin-left: 2%;
}

.blocresto img
{
	width: 335px;
	height: 175px;
}

.blocnew
{
	width: 8%;
	margin-left: 195px;
}

/* Position absolute Coeur hover + dégradé + main +  */
.coeur1
{
	margin-left: 285px;
}

.coeur1:hover
{
	opacity: 0;
}

/* Vous employez des fonctions qui sont propres à certains #Navigateurs, comme #FireFox ou autres. Ce sont les arrondis, les dégradés et d'autres aspects. => erreurs W3C */
.coeur2
{
	margin-left: 285px;
}

/* Footer */
footer
{
	height: 40%;
}

.logofooter img
{
	width: 25%;
	height: 25%;
	padding-top: 5%;

}

.listefooter ul
{
	width: 90%;
	list-style-type: none;

	display: flex;
	justify-content: space-between;
}

.listefooter ul li
{
	color: #fff;
	display: flex;
	line-height: 100%;
	}

.listefooter i
{
	padding-right: 5%;
}
