
/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}
/* loader */
.loader
{
	width: 100%;
}
.loader span{
	font-size: 55px;
}
/* header */
.bloclogoindex
{
    height: 90px;
    text-align: center;
    padding-top: 25px;
}

.bloclogoindex img
{
	height: 40px;
}

/* conteneur recherche lieu location*/
/* => Revoir les dimensions du texte et le centrage quand on tape*/
.contenantrecherche
{
    /* margin: auto; */
    /* height: 45px; */
    background: #eaeaea;
    /* box-shadow: inset 0px 3px 10px 0px #898989; */
    /* border-radius: 25px; */
    /* width: 280px; */
    /* margin-bottom: 50px; */
    /* margin-left: 360px; */
    /* margin-top: -40px;*/
}
.blocrecherche
{
	flex-direction: row;
	margin-left: 40px;
}
div .rech1
{
	max-width: 195px;
	margin: auto;

}

.rech1 i
{
	width: 20px;
	height: 50px;
	padding-top: 17px;
}

.rech2 p
{
	font-size: 18px;
	width: 80px;
}

.rech2 input
{
	border-style: none;
	font-size: 16px;
	border: none;
	outline: none;
}

/* conteneur nav explorer */
.blocnav
{
    padding-top: 45px;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 45px;
}
.blocnav h1
{
	width: 600px;
	font-size: 24px;
	font-weight: 700;
	margin-left: 40px;
}
div .btnexplorer
{
	height: 50px;
	width: 55%;
}

.btnexplorer p
{
    font-weight: 400;
    color: #fff;
    z-index: 10;
    font-size: 16px;
}
.btnexplorer a
{
	text-decoration: none;
}

/* conteneur filtres */
.conteneurfiltres h2
{
	font-size: 24px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 10px;
	margin-left: 40px;

}
.blocfiltre
{
	height: 75px;
	justify-content: center;
	align-items: center;
}
.blocfiltre :hover
{
	background: #f5edff;
	border-radius: 25px;
	color: #000000;
}

.blocfiltre :hover i
{
	color: #9356dc;
}

.rondoblongue
{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	color: #fff;
	background-color: #9356dc;
	margin-left: 20px;
	z-index: 1;
	margin-top: 5px;
}

.rondoblongue p
{
	z-index: 10;
	padding-left: 8px;
	padding-top: 4px;
	margin: auto;
	font-size: 14px;
}

.oblongue
{
	height: 75px;
	width: 50%;
	background: #f6f6f6;
	border-radius: 25px;
	box-shadow: 0px 5px 20px -2px #C2C2C2;
	z-index: 0;
	margin-left: -10px;
	display: flex;
	flex-direction: row;
}

.oblongue a
{
	color: #000000;
	text-decoration: none;
}

.oblongue i
{
	padding-top: 30px;
	padding-left: 10%;
	font-size: 18px;
	color: #777;
}

.oblongue p
{
	font-weight: 500;
	font-size: 16px;
	padding-left: 30px;
	width: 400px;
	padding-top: 15px;
	text-decoration: none;
}

/* Main */
/* Liste des restaurants */

.conteneurblocresto{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.conteneurrestos
{
	/* pas de hauteur bloquée juste un padding bottome pour avoir une marge minimum */
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
}

.conteneurrestos h2
{
	padding-top: 60px;
	font-size: 24px;
	margin-left: 20px;
}
/* Bloc restaurant */    
.blocresto
{
	position: relative;
	height: 255px;
	width: 355px;

	margin-bottom: 20px;
	margin-left:10px;
	margin-right: 10px;
}
.blocresto .blocnew
{
	position:absolute;
	max-width: 100px;
    margin-left: 225px;
	height: 30px;
	background-color: #99e2d0;

	padding-left: 2%;
	padding-right: 2%;
	z-index: 2;
}
/* Position absolute Coeur hover + dégradé + main +  */
.coeur1
{
	margin-left: 310px;
}

.coeur1:hover
{
	opacity: 0;
}

/* Vous employez des fonctions qui sont propres à certains #Navigateurs, comme #FireFox ou autres. Ce sont les arrondis, les dégradés et d'autres aspects. => erreurs W3C */
.coeur2
{
	margin-left: 310px;
}

/* Footer */
footer
{	
	height: 150px;
}
/* Logo */
.logofooter img
{
	height: 30px;
	margin-top: 30px;
	margin-left: 30px;
	padding-left: 0;
}
.listefooter
{
	display: flex;
	width: 100%;
}
.listefooter ul
{
	margin-left: 30px;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.listefooter i
{
	padding-right: 10px;
}