
/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}
body
{

	max-width: 1920px;
	background-color: rgb(255,255,255,1);
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	z-index: 1;
}
/* header */

/* Loader Logo Ohmyfood en animation */
.loader
{
	width: 100%;
	visibility: visible;
	z-index: 999;
	opacity: 1;
	height: 2405px;
	position: absolute;
	justify-content: center;
	padding-top: 395px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	display: flex;
	/* a voir couleur + transparence*/
	background-color: rgb(255,255,255,1);
	animation: disappear 3s 450ms forwards;
}
@keyframes flash
{
	0%
	{
		color: #FF79DA;
		text-shadow: 0 0 7px #322442;
	}

	90%
	{
		color: #9356dc;
		text-shadow: none;
	}

	100%
	{
		color: #FF79DA;
		text-shadow: 0 0 7px #322442;
	}
}
@keyframes loading
{
	0%, 100%
	{
		opacity: 1;
	}
}
@keyframes disappear
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		height: 0px;
		visibility: hidden;
	}
}
/* Loader Lettres à lettres */
.loader span
{
	width: auto;
	height: 30px;
	z-index: 999;
	opacity: 1;
	color: #9356DC;
	font-size: 50px;
	margin-bottom: 40px;
	font-family: 'Shrikhand', cursive;
	display: flex;
	animation-name: flash;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-play-state:running;
}
.lettre:nth-child(1)
{
	animation-delay: .1s;
}

.lettre:nth-child(2)
{
	animation-delay: .2s;
}

.lettre:nth-child(3)
{
	animation-delay: 0.3s;
}

.lettre:nth-child(4)
{
	animation-delay: 0.4s;
}

.lettre:nth-child(5)
{
	animation-delay: 0.5s;
}

.lettre:nth-child(6)
{
	animation-delay: 0.6s;
}

.lettre:nth-child(7)
{
	animation-delay: 0.7s;
}

.lettre:nth-child(8)
{
	animation-delay: 0.8s;
}
/* Logo */
.bloclogoindex
{
	height: 70px;
	text-align: center;
	padding-top: 20px;
}

.bloclogoindex img
{
	height: 83%;
}
/* Input Localisation */
.contenantrecherche
{
	width: auto;
	margin: auto;

	height: 50px;
	background: #eaeaea;
	/* ombre portee */
	box-shadow: inset 0px 10px 10px -10px #bdbdbd;
}
div .rech1
{
	max-width: 239px;
	margin: auto;

}

.rech1 i
{
	margin-right: 15px;
	height: 50px;
	padding-top: 17px;
}

.rech2 p
{
	font-size: 18px;
	width: 100%;
}

div.rech2
{
	margin-top: 15px;
	width: 13%;
}

.rech2 input
{
	border-style: none;
	font-size: 16px;
	background: #eaeaea;
	border: none;
	outline: none;
	width: 100%;
}

/* Bouton Nav explorer nos restaurants */
.bg-blocnav{
    background: #f6f6f6;
}
.blocnav
{
    padding-top: 45px;
    max-width: 85%;
    margin: auto;
    text-align: center;
    padding-bottom: 45px;
	}

.blocnav h1
{
	font-size: 24px;
	font-weight: 700;
}

.blocnav p
{
    font-size: 18px;
    font-weight: 300;
    /* padding-top: 25px; */
    /*padding-bottom: 19px;*/
}

div .btnexplorer
{
	text-align: center;
	height: 50px;
	border-radius: 25px;
	background: #9356dc;
	z-index: 0;
	max-width: 58%;
	margin: auto;

	/* degrade dans un bloc */
	background: linear-gradient(#FF79DA, #9356dc);
	/* ombre portee */
	box-shadow: 0px 3px 10px 0px #898989;
}

.btnexplorer :hover
{
	height: 50px;

	border-radius: 25px;
	background: #9356dc;
	z-index: 0;
	margin: auto;
	/* degrade dans un bloc + clair */
	background: linear-gradient(#fd97e0, #aa7be2);
	/* ombre portee + foncée */
	box-shadow: 0px 3px 10px 0px #696969;
}
.btnexplorer p
{

	font-weight: 400;
	color: #fff;
	padding-top: 15px;
	z-index: 10;
	font-size: 16px;
}
.btnexplorer a
{
	text-decoration: none;
}
/* 3 Boutons Filtres */
.conteneurfiltres
{
	height: 400px;
}
.conteneurfiltres h2
{
    font-size: 24px;
    font-weight: 700;
    padding-top: 40px;
    margin-left: 20px;
    padding-bottom: 10px;
}
.blocfiltre
{
	height: 75px;
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
	justify-content: center;
}
/* Effet fond violet clair */
.blocfiltre :hover
{
	background: #f5edff;
	border-radius: 25px;
	color: #000000;
}
/* Effet picto violet  */
.blocfiltre :hover i
{
	color: #9356dc;
}
/* Petit rond violet avec numéro */
.rondoblongue
{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	color: #fff;
	background-color: #9356dc;
	z-index: 1;
	margin-top: 25px;
}
.rondoblongue p
{
	z-index: 10;
	padding-left: 8px;
	padding-top: 4px;
	margin: auto;
	font-size: 14px;
}
/* Forme oblongue gris clair */

.oblongue
{
	height: 75px;
	width: 80%;
	background: #f6f6f6;
	border-radius: 25px;
	box-shadow: 0px 5px 20px -2px #C2C2C2;
	z-index: 0;
	margin-left: -10px;
	display: flex;
	flex-direction: row;
}

.oblongue a
{
	color: #000000;
	text-decoration: none;
}

.oblongue i
{
	padding-top: 30px;
	padding-left: 10%;
	font-size: 18px;
	color: #777;
}

.oblongue p
{
	font-weight: 500;
	font-size: 16px;
	padding-left: 5%;
	width: 100%;
	padding-top: 15px;
	text-decoration: none;
}
/* Main */

/* Liste des restaurants */
.conteneurrestos
{
	background: #f6f6f5;
	height: 1250px;
}
.conteneurrestos h2
{
	padding-left: 20px;
	padding-top: 60px;
	font-size: 24px;
}
/* Bloc restaurant */    
.blocresto
{
	height: 255px;
	width: 90%;
	background: #fff;
	border-radius: 25px;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 0px 3px 10px 0px #d3d1d1;
}
.blocresto a
{
	text-decoration: none;
}
/* Image du restaurant */   
.blocresto img
{
	width: 100%;
	height: 175px;
	object-fit: cover;
	border-radius: 25px 25px 0px 0px;
}
/* Etiquette nouveau */
.blocnew
{
	width: 30%;
	height: 30px;
	background-color: #99e2d0;
	position: absolute;
	margin-left: 55%;
	margin-top: -165px;
}

.blocnew p
{
	color: #008766;
	text-align: center;
	margin-top: 5px;
}
/* Nom et quartier du resto */ 
.legende
{
	width: 90%;
	height: 80px;
}
.legende h3
{
	font-size: 20px;
	font-weight: 700;
	padding-left: 20px;
	color: #000000;
	margin-top: 10px;
}
.legende h4
{
	font-size: 17px;
	font-weight: 400;
	padding-left: 20px;
	color: #000000;
	margin-top: -15px;
}
/* Coeur effet active + animation + dégradé */
.coeur1 
{
	font-size: 25px;
	position: absolute;
	margin-left: 75%;
	margin-top: -80px;
	color: #000;
	background-color: #fff;
	opacity: 1;
	z-index: 1;
}
.coeur1:hover 
{
	opacity: 0;
	transition: all 1s ease-in-out;
}
.coeur2 
{	
	font-size: 25px;
	position: absolute;
	margin-left: 75%;
	margin-top: -80px;
	background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 0
}
/* Footer */
footer
{
	height: 35%;
	background: #353535;
	width: 100%;
}
.listefooter
{
	display: flex;
}
/* Logo */
.logofooter img
{
	width: 35%;
	height: 35%;
	padding-top: 5%;
	padding-left: 5%;
	filter: invert(100%)
}

/* Liste mentions légales + Mailto */
.listefooter ul
{	width: 80%;
	list-style-type: none;
	padding-left: 5%;

}

.listefooter ul li
{
	color: #fff;
	display: flex;
	line-height: 100%;
}

.listefooter a
{
	color: #fff;
	text-decoration: none;
}

.listefooter p
{
	margin-top: 0px;
	width: 200%;
}

.listefooter i
{
	padding-right: 5%;
}