
/*Medium devices (desktop large, 1024px and up)*/
@media screen and (min-width: 1024px)
{
}


/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}
body
{
	width: 1024px;
}
/* loader */
.loader{
	width: 1024px;
}
/* header */
.bloclogoindex
{
    width: 500px;
	height: 120px;
    padding-top: 35px;
}

.bloclogoindex img
{
	max-width:50%;
	height: auto;
	padding-top:35px;
	margin-left: 130px;

}
/* conteneur recherche lieu location*/
/* => Revoir les dimensions du texte et le centrage quand on tape*/
.contenantrecherche
{
	margin: auto;
	height: 45px;
	background: #eaeaea;
	/* ombre portée */
	box-shadow: inset 0px 3px 10px 0px #898989;
	border-radius: 25px;
	width: 280px;
	margin-bottom: 50px;
	margin-left: 550px;
	margin-top: -55px;
}
/* conteneur nav explorer */
.blocnav h1
{
	width: 600px;
	text-align: left;
	font-size: 24px;
	font-weight: 700;
	margin-left: 80px;
}

.blocnav p
{

	margin-left: 80px;
}
div .btnexplorer
{

	margin-left: 80px;
}
.btnexplorer p
{
	width: 200px;
	font-weight: 400;
	color: #fff;
	padding-top: 15px;
	z-index: 10;
	font-size: 16px;
	text-align: left;
	margin-left: 45px;
}
/* conteneur filtres */
.conteneurfiltres h2
{
	margin-left: 80px;
	padding-top: 20px;
}
/* Main */
.conteneurrestos
{
	height: 770px;
}
.conteneurrestos h2
{
	margin-left: 20px;
	margin-top: 20px;
}
#restaurants{
	padding-top: 60px;
}
.conteneurblocresto
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 110px;
	margin-right: 110px;
	padding-top: 30px;
}

.conteneurrestos h2
{
	margin-left: 60px;
	padding-top: 80px;
}
.blocresto
{
	height: 255px;
	width: 335px;
}
.blocresto img
{
	width: 335px;
	height: 175px;
}
.blocnew
{
	margin-left: 235px;
	margin-top: -165px;
}
/* Position absolute Coeur hover + dégradé + main +  */
.coeur1 a
{

	margin-left: 285px;

}

.coeur1:hover
{
	opacity: 0;
}

/* Vous employez des fonctions qui sont propres à certains #Navigateurs, comme #FireFox ou autres. Ce sont les arrondis, les dégradés et d'autres aspects. => erreurs W3C */
.coeur2
{

	margin-left: 285px;

}

/* Footer */
.logofooter img
{
	width: 25%;
	padding-top: 40px;
	padding-left: 80px;
	filter: invert(100%)}

footer
{
	height: 160px;
	background: #353535;
}

.listefooter ul
{
	width: 944px;
	list-style-type: none;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

.listefooter ul li
{
	color: #fff;
	display: flex;
	line-height: 100%;
	padding-left: 60px;
}

.listefooter i
{
	padding-right: 15px;
}