
/*la taille des contenus tient compte du border et du padding*/
*
{
	box-sizing: border-box;
}


/* loader */
.loader
{
	width: 100%;
}

/* header */

.bloclogoindex img
{

}

/* conteneur recherche lieu location*/
/* => Revoir les dimensions du texte et le centrage quand on tape*/
.contenantrecherche
{
    margin: auto;
    height: 45px;
    background: #eaeaea;
    /* margin-bottom: 50px; */
    margin-top: 0px;
}

/* conteneur nav explorer */
.blocnav h1
{

	font-size: 24px;
	font-weight: 700;

}

.blocnav p
{

}

div .btnexplorer
{

}

.btnexplorer p
{

	font-weight: 400;
	color: #fff;
	padding-top: 15px;
	z-index: 10;
	font-size: 16px;

}

/* conteneur filtres */
.conteneurfiltres h2
{
	margin-left: 80px;
	padding-top: 20px;
}

/* Main */
.conteneurrestos
{
	height: 770px;
}

.conteneurrestos h2
{
	margin-left: 20px;
	margin-top: 20px;
}

#restaurants
{
	padding-top: 60px;
}

.conteneurblocresto
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 110px;
	margin-right: 110px;
	padding-top: 30px;
}

.conteneurrestos h2
{
	margin-left: 60px;
	padding-top: 80px;
}

.blocresto
{
	height: 255px;
	width: 335px;
}

.blocresto img
{
	width: 335px;
	height: 175px;
}

.blocnew
{
	margin-left: 235px;
	margin-top: -165px;
}

/* Position absolute Coeur hover + dégradé + main +  */
.coeur1
{
	margin-left: 285px;
}

.coeur1:hover
{
	opacity: 0;
}

/* Vous employez des fonctions qui sont propres à certains #Navigateurs, comme #FireFox ou autres. Ce sont les arrondis, les dégradés et d'autres aspects. => erreurs W3C */
.coeur2
{
	margin-left: 285px;
}

/* Footer */
.logofooter img
{
	width: 25%;
	padding-top: 40px;
	padding-left: 80px;
filter: invert(100%)}

footer
{
	height: 160px;
	background: #353535;
}

.listefooter ul
{
	width: 944px;
	list-style-type: none;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

.listefooter ul li
{
	color: #fff;
	display: flex;
	line-height: 100%;
	padding-left: 60px;
}

.listefooter i
{
	padding-right: 15px;
}